html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #ddd;
  background: #111;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  background: #111;
  width: 8px;
}


::-webkit-scrollbar-thumb {
  background: #93291e;
  background: -webkit-linear-gradient(to bottom, #ed213a, #93291e);
  background: linear-gradient(to bottom, #ed213a, #93291e); 
  border-radius: 10px;
  opacity: 0.5;
  transition: all ease 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
}

/* More of less global styles */

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
  color: #ddd;
}

.container {
  margin: 0 10%;
}

.accent-right {
  background: #93291e;
  background: -webkit-linear-gradient(to right, #ed213a, #93291e);
  background: linear-gradient(to right, #ed213a, #93291e); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accent-down {
  background: #93291e;
  background: -webkit-linear-gradient(to bottom, #ed213a, #93291e);
  background: linear-gradient(to bottom, #ed213a, #93291e); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hr-line {
  height: 2px;
  width: 100%;
  margin: 20px 0 ;
  background: #93291e;
  background: -webkit-linear-gradient(to right, #ed213a, #93291e);
  background: linear-gradient(to right, #ed213a, #93291e); 
}

.detailed-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 95px;
}

.detailed-container.reversed {
  flex-direction: row-reverse;
}

.detailed-container:last-of-type {
  margin-bottom: 0;
}

.circle-chain {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.detailed-text {
  opacity: 0;
  transition: all 0.3s ease;
  background: #333;
  padding: 15px;
  position: relative;
  z-index: 1;

}

.detailed-text.show-left {
  left: 20%;
}

.detailed-text.show-right {
  right: 20%;
}

.detailed-text.show-left:after {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  transform: rotate(45deg);
  right: -10px;
  background: #333;

}

.detailed-text.show-right:after {
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(50% - 10px);
  transform: rotate(45deg);
  left: -10px;
  background: #333;

}

.detailed-circle {
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.detailed-circle:after {
  content: " ";
  width: 2px;
  height: 100px;
  background: #ddd;
  position: absolute;
  bottom: -100%;
  left: 50%;
  pointer-events: none;
}

.detailed-container:last-of-type .detailed-circle:after {
  content: none;
}

.detailed-circle:after:hover {
  cursor: auto;
  transform: none;
}

.detailed-circle:hover + .detailed-text.show-right{
  opacity: 1;
  right: 0;
}

.detailed-circle:hover + .detailed-text.show-left{
  opacity: 1;
  left: 0;
}



/* Splash Styles */
.splash {
  height: 100vh;
  width: 100vw;
  background-color: #111111;
  background-color: #111111;
  background-color: #111111;
background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23222222' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}



.splash .container {
  width: 50%;
  position: relative;
  top: 30%;

}

.splash .container h1 {
  margin: 0;
  font-size: 3rem; 
  
}

/* General Section styles */

.section {
  min-height: 100vh;
  width: 100vw;
  padding: 10% 0;
  background: #111;
}

.section:nth-of-type(2n) {
  background: #222;
}

.section .title {
  position: relative;
  width: fit-content;
  font-weight: normal;
}

.section .title:after {
  content: " ";
  height: 2px;
  width: 150%;
  position: absolute;
  bottom: -5px;
  left: -2px;
  background: #93291e;
  background: -webkit-linear-gradient(to bottom, #ed213a, #93291e);
  background: linear-gradient(to bottom, #ed213a, #93291e);

}

.section .section-body {
  margin-top: 5%;
  font-size: 1.2rem;

}

.section .circle {
  width: 50px;
  height: 50px;
  border: solid 2px #ed213a;
  border-radius: 30px;
  margin: 20px;
  display: inline-block;
}

.section .circle-icon {
  width: 28px;
  height: 28px;
  margin: 9px;
}

.section .profile-items {
  display: flex;
    align-items: center;
  justify-content: center;
  margin-bottom: 20px;
} 

.section .profile-item {
  flex-direction: column;
}

.section .profile-item .text {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
}

.section h3 {
  font-weight: normal;
  font-size: 1.5rem;

}

.section .hr-line {
  width: 60%;
  margin: 20px auto;
  
}

/* Experience Styles */

.experience-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Skills Styles */

.skills-body {
  display: flex;
  flex-direction: row;

}

.ant-progress-line {
  width: 0;
  display: block;
  animation: grow-right 1s ease forwards;
}

.ant-progress-success-bg, .ant-progress-bg {
  background: #93291e;
  background: -webkit-linear-gradient(to left, #ed213a, #93291e);
  background: linear-gradient(to left, #ed213a, #93291e); 
  
}

.ant-progress-status-success .ant-progress-bg {
  background: #93291e;
  background: -webkit-linear-gradient(to left, #ed213a, #93291e);
  background: linear-gradient(to left, #ed213a, #93291e); 
}

.ant-progress-inner {
  background-color: transparent;
}

.options {
  text-align: center;
  margin-bottom: 30px;
}

.options .ant-switch-checked {
  background: #93291e;
  background: -webkit-linear-gradient(to right, #ed213a, #93291e);
  background: linear-gradient(to right, #ed213a, #93291e);
}

.options .ant-switch {
  margin: 0 30px;
  
}

.part {
  width: 100%;
}

.skills-part {
  margin-bottom: 30px;
}

.left {
  margin-right: 10%;
  width: 40%;
}

.right {
  margin-left: 10%;
  width: 40%;
}

.skill-title {
  margin-bottom: 10px;
  display: inline;
}

.divider {
  margin: 0 10px;
}

.thick-circle {
  border: solid 30px #333;
  border-radius: 50%;
  width: 90%;
  color: #333;
  font-size: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thick-circle:after {
  content: "";
    display: block;
    padding-bottom: 100%;
}

.skill-title a {
  color: #ddd;
}

.skill-title-block {
  margin-bottom: 10px;
}


/* Animations */

@keyframes grow-right {
  from { width: 0 }
  to { width: 100% }
}






